{% extends 'food/base.html' %}

{% block body %}
<div class="container">
        <h1>This is Food List</h1>
        <div>
            {% for item in item_list %}
                <div class="row mb-4">
                    <div class="col-md-3 ofset-md-2">
                        <img class="card" height="150px" src="{{ item.item_image }}" alt="">
                    </div>
                    <div class="col-md-4">
                        <h2>{{ item.item_name}}</h2>
                        <h5>{{item.item_desc}}</h5>
                        <h4>{{item.item_price}}$</h4>


                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-success" href="{% url 'detail' item.id %}">Details</a>
                    </div>
                </div>

            {% endfor %}





<!--            this is old code-->
<!--            <ul>-->
<!--                {% for item in item_list %}-->
<!--    &lt;!&ndash;                <li><a href="/food/{{ item.id }}">{{item.id}}&#45;&#45;{{ item.item_name }}</a> </li>&ndash;&gt;-->
<!--    &lt;!&ndash;                Remove hardcoded URL&ndash;&gt;-->
<!--                    <li><a href="{% url 'detail' item.id %}">{{item.id}}&#45;&#45;{{ item.item_name }}</a> </li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
        </div>
    </div>

{% endblock %}